      <aside class="side">
          <div>
            <dl class="side-block">
              <dt class="side-hd"><span class="hd-name">积分宝</span><span class="hd-line"></span></dt>
              <dd><a href="{url points.biz.fans.list}">粉丝管理</a></dd>
              <dd><a href="{url points.mall.biz.exchange.list}">兑换管理</a></dd>
              <dd><a href="{url points.mall.biz.goods.list}">奖品管理</a></dd>
              <dd><a href="{url points.biz.points.setting}">积分设置</a></dd>
              <dd>&nbsp;</dd>
              <dd><a href="{url wx.biz.setting.bind}">微信绑定</a></dd>
            </dl>
          </div>
      </aside>
