
      </div>
      <!--/wrap-->
    </div>
    <!--/content-->
    
    <!--footer-->
    <div id="footer">
      <div class="wrap">
    	<div class="addr"></div>
        <div class="footer-inner">
          <p class="copyright">
            &copy; 2010-{date('Y')} <a href="{$domain}">{$siteName}</a>版权所有 <a href="http://www.miitbeian.gov.cn/">{Config::get('site_icp')}</a> <br />
          </p>
        </div>
      </div>
    </div>
    <!--/footer-->

  </div>
  <!--/page-->

  <!--{static}-->
  <script type="text/javascript">
    $(function() {
		$('.btn,#search-bar').hover(
		    function(){$(this).addClass('hover')},
		    function(){$(this).removeClass('hover')}
		);
	});
  </script>
  <!--{/static}-->
  <!--[if IE 6]>
  <script type="text/javascript" src="{$staticPath}js/DD_belatedPNG-min.js" ></script>
  <script type="text/javascript">
    DD_belatedPNG.fix('.nav-item, .s_1, .s_2, .s_3');
  </script>
  <![endif]--> 
{$embedFooter}

<!--{#$bm = benchmark('pc_tpl_footer', 1);#}-->
<!--[ Processed in {$bm[elapsed]}(s),{#print Factory::db()->execTimes#} querys,{$bm[mem]}(M mem)]-->
</body>
</html>
{hook hello_world}